* {
    margin: 0;
    padding: 0;
}

.footer {
    height: 80px;
    background: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.temp4 {
    display: flex;
    justify-content: center;
    align-items: center;
}